* {
	padding: 0;
	margin: 0;
	font-family: poppins, sans-serif;
	-webkit-tap-highlight-color: transparent;
}

body {
	transition: background 0.5s ease, color 0.5s ease;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: var(--color-primary);
}

/* Light theme colors */
.theme-light {
	--color-primary: #EAE7DC;
	--color-secondary: #D8C3A5;
	--color-accent: #FFCB90;
	--font-color: #000000;
}

/* Dark theme colors */
.theme-dark {
	--color-primary: #464866;
	--color-secondary: #25274D;
	--color-accent: #AAABB8;
	--font-color: #FFFFFF;
}

/* Theme change button design */
.themechange {
	transition: background 0.5s ease, color 0.5s ease;
	color: var(--font-color);
	display: flex;
	background: var(--color-primary);
	flex-direction: column;
	justify-content: left;
	align-items: left;
	margin: 10px;
}

.themechange button {
	padding: 10px;
	margin: 20px;
	color: var(--font-color);
	background: var(--color-secondary);
	padding: 10px 20px;
	border: 0;
	border-radius: 10px;
	font-size: 20pt;
}
/* Theme change button design end */

.namehead {
	transition: background 0.5s ease, color 0.5s ease;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--color-primary);
	padding: 50px;
}

.name {
	transition: background 0.5s ease, color 0.5s ease;
	background-color: var(--color-secondary);
	color: var(--font-color);
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	font-weight: 500;
	font-size: 25pt;
	text-align: center;
	user-select: none;
}

/* Tooltiptext window */
.tooltiptext {
	visibility: hidden;
	background-color: var(--color-secondary);
	color: var(--font-color);
	text-align: center;
	border-radius: 10px;
	padding: 6px 0;
	user-select: none;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	width: 96px;
	top: 105%;
	left: 50%;
	margin-left: -48px;
}

@keyframes ani {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
/* Tooltiptext window end */

.social {
	transition: background 0.5s ease, color 0.5s ease;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	background-color: var(--color-primary);
	padding: 20px;
	margin: 10px;
	border-radius: 15px;
}

/* Telegram */
.telegram {
	margin: 20px;
	position: relative;
	display: inline-block;
}

.telegram img {
	transition: transform 0.3s ease;
}

.telegram:hover img {
	overflow: hidden;
	transition: transform 0.5s ease;
	transform: scale(1.1);
}

.telegram:hover .tooltiptext {
	visibility: visible;
	opacity: 0;
	animation: ani 0.5s forwards;
}
/* Telegram end */

/* Discord */
.discord {
	margin: 20px;
	position: relative;
	display: inline-block;
}

.discord img {
	transition: transform .3s ease;
	position: relative;
	display: inline-block;
}

.discord:hover img {
	overflow: hidden;
	transition: transform 0.5s ease;
	transform: scale(1.1);
}

.discord:hover .tooltiptext {
	visibility: visible;
	opacity: 0;
	animation: ani 0.5s forwards;
}
/* Discord end */

/* GitHub */
.github {
	margin: 20px;
	position: relative;
	display: inline-block;
}

.github img {
	transition: transform .3s ease;
}

.github:hover img {
	overflow: hidden;
	transition: transform 0.5s ease;
	transform: scale(1.1);
}

.github:hover .tooltiptext {
	visibility: visible;
	opacity: 0;
	animation: ani 0.5s forwards;
}
/* GitHub end */

.project {
	transition: background 0.5s ease, color 0.5s ease;
	margin: 10px;
	border-radius: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 25pt;
	background-color: var(--color-secondary);
	padding: 80px;
	color: var(--font-color);
	text-align: center;
	user-select: none;
}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
	width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
	border-radius: 10px;
}
/* Scrollbar end */

/* Theme switch button */
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-accent);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	height: 40px;
	width: 40px;
	bottom: 0;
	background-color: var(--color-secondary);
	margin: auto 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	box-shadow: 0 0px 15px #2020203d;
	background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
	background-repeat: no-repeat;
	background-position: center;
}

input:checked + .slider {
	background-color: var(--color-accent);
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(24px);
	-ms-transform: translateX(24px);
	transform: translateX(24px);
	background: white url('https://i.ibb.co/FxzBYR9/night.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--color-secondary);
}
/* End of the slider */

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
/* Theme switch button end */