*
{
	padding: 0;
	margin: 0;
	font-family: poppins, sans-serif;
}
body
{
	background-color: #FFF590;
}
.namehead
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #FFF590;
	padding: 100px;
}
.name
{
	background-color: #FFEE58;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	font-weight: 500;
	font-size: 25pt;
	color: #F57F17;
	text-align: center;
}
.social
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
}
.telegram
{
	margin: 20px;
}
.telegram img
{
	transition: transform .3s ease;
}
.telegram:hover img
{
	overflow: hidden;
	transition: transform 0.5s ease;
	transform: scale(1.1);
}
.discord
{
	margin: 20px;
}
.discord img
{
	transition: transform .3s ease;
}
.discord:hover img
{
	overflow: hidden;
	transition: transform 0.5s ease;
	transform: scale(1.1);
}
.github
{
	margin: 20px;
}
.github img
{
	transition: transform .3s ease;
}
.github:hover img
{
	overflow: hidden;
	transition: transform 0.5s ease;
	transform: scale(1.1);
}
.imghead
{ 
	display: block;
	margin: auto;
}
.project
{
	margin: 10px;
	border-radius: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 25pt;
	background-color: #FFEE58;
	padding: 110px;
	color: #F57F17;
	text-align: center;
}
.blog
{
	margin: 10px;
	border-radius: 40px;
}

/* Scrollbar /*

/* Width */
::-webkit-scrollbar
{
	width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb
{
	background: #888;
	border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
	background: #555;
	border-radius: 10px;
}