*
{
	padding: 0;
	margin: 0;
	font-family: poppins, sans-serif;
}
body
{
	background-color: #FFF590;
}
.namehead
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #FFF590;
	padding: 100px;
}
.name
{
	background-color: #FFEE58;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	font-weight: 500;
	font-size: 25pt;
	color: #F57F17;
	text-align: center;
}
.tooltiptext
{
	visibility: hidden;
	background-color: black;
	color: #F59F50;
	text-align: center;
	border-radius: 10px;
	padding: 6px 0;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	width: 96px;
	top: 105%;
	left: 50%;
	margin-left: -48px;
}
@keyframes ani
{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.social
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
}
.telegram
{
	margin: 20px;
	position: relative;
	display: inline-block;
}
.telegram img
{
	transition: transform 0.3s ease;
}
.telegram:hover img
{
	overflow: hidden;
	transition: transform 0.5s ease;
	transform: scale(1.1);
}
.telegram:hover .tooltiptext
{
	visibility: visible;
	opacity: 0;
	animation: ani 0.5s forwards;
}
.discord
{
	margin: 20px;
	position: relative;
	display: inline-block;
}
.discord img
{
	transition: transform .3s ease;
	position: relative;
	display: inline-block;
}
.discord:hover img
{
	overflow: hidden;
	transition: transform 0.5s ease;
	transform: scale(1.1);
}
.discord:hover .tooltiptext
{
	visibility: visible;
	opacity: 0;
	animation: ani 0.5s forwards;
}
.github
{
	margin: 20px;
	position: relative;
	display: inline-block;
}
.github img
{
	transition: transform .3s ease;
}
.github:hover img
{
	overflow: hidden;
	transition: transform 0.5s ease;
	transform: scale(1.1);
}
.github:hover .tooltiptext
{
	visibility: visible;
	opacity: 0;
	animation: ani 0.5s forwards;
}
.imghead
{ 
	display: block;
	margin: auto;
}
.project
{
	margin: 10px;
	border-radius: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 25pt;
	background-color: #FFEE58;
	padding: 110px;
	color: #F57F17;
	text-align: center;
}
.blog
{
	margin: 10px;
	border-radius: 40px;
}

/* Scrollbar /*

/* Width */
::-webkit-scrollbar
{
	width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb
{
	background: #888;
	border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover
{
	background: #555;
	border-radius: 10px;
}